
# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Bundler
.bundle
vendor/bundle

# dotenv
.env

# OS
.DS_Store
keys
bin/*